<div class="search-form mt-4">
    <form method="POST">
    <div class="form-group">
        <label for="Search">Looking up...</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter product name">
    </div>
    <div class="form-group">
        <label for="gender-input">Gender</label>
        <select name="gender" class="form-control" id="gender">
            <option value="">Chon gioi tinh</option>
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
